!!!5
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %meta{:name => 'description', :content => ''}
    %link{:rel => 'icon', :type => 'image/vnd.microsoft.icon', :href => '/favicon.ico'}
    %link{:rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon', :href => '/favicon.ico'}
    <!--[if ! lte IE 6]><!-->
    %link{:rel => 'stylesheet', :href => '/stylesheets/muhlecustomcontracting.css', :media => 'screen, projection', :type => 'text/css'}
    <!--<![endif]-->
    <!--[if lte IE 6]><!-->
    %link{:rel=>'stylesheet', :href=>'http://universal-ie6-css.googlecode.com/files/ie6.1.1.css', :media => 'screen, projection', :type => 'text/css'}
    <!--<![endif]-->
    /[if lt IE 9]
      %script{:type => 'text/javascript', :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/muhlecustomcontracting.js'}
    :javascript
    
      /* Initiate the application javascript and run */
      $(document).ready(function(){
      
        muhlecustomcontracting.run();
      
      });
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9687987-19']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %title Muhle Custom Contracting
  %body
    .container
      %header
      %section
        = yield
      %footer