#testimonials
  - @content_title = "Some Notes From My Clients"
  %hr
  %p
    I take great pride in the eagerness of my clients to refer their friends and family, it is quite possibly 
    the best compliment I could receive.  I would relish the opportunity to assist you in any way and I 
    look forward to taking your dream and making it a reality!
  %p
    %img{:src => '/images/elevation_1.png', :alt => 'testimonial_1'}
    %blockquote
      “We hired Muhle Custom construction during the late Spring and early 
      Summer of 2011, to remodel the family room, bathroom off the family room
      and laundry room. The family room and bathroom required major 
      renovations. Chad and his crew removed a large old volcanic rock fireplace 
      and cupboards. These were replaced with a linear ceramic gas fireplace and
      modern cabinets. This included the mounting of a three-hundred plus 
      pound Silestone mantle and matching cabinet tops. The bathroom 
      renovation included tile work, a new cabinet and sink, and the instillation 
      of a urinal. The rooms included custom detail work of: a recessed area 
      above the fireplace to hold the television bracket, special adaptations to the cabinets for housing the 
      electronics, an alcove in the bathroom to hide the urinal, and three pocket doors, one of which had to be 
      customized. Chad’s flexibility enabled us to do our own painting. Problems with product delays, change orders, 
      and sub-contractors were handled in a professional manner. 
      We will be using Chad and Muhle Custom Contracting again. ”
    %cite
      Satisfied Clients,
      %br
      %br
      \- Ron & Judy Myers
  %p
    %img{:src => '/images/elevation_1.png', :alt => 'testimonial_2'}
    %blockquote
      “You start with a dream,
      it becomes a vision, Chad
      made it a reality.  He fulfilled
      every detail we asked of him
      and pleased us with many of 
      his own unique ideas as well.”
    %cite - Cade & Heather Kudron