#links
  - @content_title = "Vendors"
  %hr
  .vendors
    %img{:src => '/images/vendors.png', :alt => 'vendors'}
    %a{:href => 'http://www.ckfco.com', :id => 'ckf', :title => 'CKF'} CKF
    %a{:href => 'http://www.omahaelectric.com', :id => 'omaha_electric_service', :title => 'Omaha Electric Service'} Omaha Electric Service
    %a{:href => 'http://www.ferguson.com', :id => 'ferguson', :title => 'Ferguson'} Ferguson
    %a{:href => 'http://www.cbshome.com', :id => 'cbs_homes', :title => 'CBS Homes'} CBS Homes
    %a{:href => 'http://www.pella.com/home/default.aspx', :id => 'pella_windows', :title => 'Pella Windows'} Pella Windows
    %a{:href => 'http://millardlumber.com', :id => 'millard_lumber', :title => 'Millard Lumber'} Millard Lumber
  %h1 Lending
  %hr
  .lending
    %img{:src => '/images/lending.png', :alt => 'lending'}
    %a{:href => 'mailto:jgarth@anbank.com', :id => 'joshua_garth', :title => 'Joshua Garth - American National Bank'} Joshua Garth - American National Bank
    %a{:href => 'mailto:mdavidson@frontbank.com', :id => 'mark_davidson', :title => 'Mark Davidson - Frontier Bank'} Mark Davidson - Frontier Bank