#remodels
  - @content_title = "Click On A Photo To View The Remodels Gallery"
  %hr
  .thumbnails
    %a{:href => '/images/remodels/originals/placeholder.png'}
      %img{:src => '/images/remodels/thumbnails/placeholder.png', :alt => 'thumbnail', :'data-original' => '/images/remodels/originals/placeholder.png'}
    %a{:href => '/images/remodels/originals/placeholder.png'}
      %img{:src => '/images/remodels/thumbnails/placeholder.png', :alt => 'thumbnail', :'data-original' => '/images/remodels/originals/placeholder.png'}
    %a{:href => '/images/remodels/originals/placeholder.png'}
      %img{:src => '/images/remodels/thumbnails/placeholder.png', :alt => 'thumbnail', :'data-original' => '/images/remodels/originals/placeholder.png'}
    %a{:href => '/images/remodels/originals/placeholder.png'}
      %img{:src => '/images/remodels/thumbnails/placeholder.png', :alt => 'thumbnail', :'data-original' => '/images/remodels/originals/placeholder.png'}
    %a{:href => '/images/remodels/originals/placeholder.png'}
      %img{:src => '/images/remodels/thumbnails/placeholder.png', :alt => 'thumbnail', :'data-original' => '/images/remodels/originals/placeholder.png'}