#remodels
  - @content_title = "Click On A Photo To View The Remodels Gallery"
  %hr
  .thumbnails
    %a{:href => '/images/elevation_1.png'}
      %img{:src => '/images/elevation_1.png', :alt => 'thumbnail'}
    %a{:href => '/images/elevation_1.png'}
      %img{:src => '/images/elevation_1.png', :alt => 'thumbnail'}
    %a{:href => '/images/elevation_1.png'}
      %img{:src => '/images/elevation_1.png', :alt => 'thumbnail'}
    %a{:href => '/images/elevation_1.png'}
      %img{:src => '/images/elevation_1.png', :alt => 'thumbnail'}
    %a{:href => '/images/elevation_1.png'}
      %img{:src => '/images/elevation_1.png', :alt => 'thumbnail'}