#custom_homes
  - @content_title = "Click On A Photo To View The Custom Homes Gallery"
  %hr
  .thumbnails
    %a{:href => '/images/custom_homes/originals/placeholder.png', :class => 'shadowbox'}
      %img{:src => '/images/custom_homes/thumbnails/placeholder.png', :alt => 'thumbnail', :'data-original' => '/images/custom_homes/originals/placeholder.png'}
    %a{:href => '/images/custom_homes/originals/placeholder.png', :class => 'shadowbox'}
      %img{:src => '/images/custom_homes/thumbnails/placeholder.png', :alt => 'thumbnail', :'data-original' => '/images/custom_homes/originals/placeholder.png'}
    %a{:href => '/images/custom_homes/originals/placeholder.png', :class => 'shadowbox'}
      %img{:src => '/images/custom_homes/thumbnails/placeholder.png', :alt => 'thumbnail', :'data-original' => '/images/custom_homes/originals/placeholder.png'}
    %a{:href => '/images/custom_homes/originals/placeholder.png', :class => 'shadowbox'}
      %img{:src => '/images/custom_homes/thumbnails/placeholder.png', :alt => 'thumbnail', :'data-original' => '/images/custom_homes/originals/placeholder.png'}
    %a{:href => '/images/custom_homes/originals/placeholder.png', :class => 'shadowbox'}
      %img{:src => '/images/custom_homes/thumbnails/placeholder.png', :alt => 'thumbnail', :'data-original' => '/images/custom_homes/originals/placeholder.png'}