#home
  - @content_title = "Muhle Custom Contracting"
  %hr
  %p
    My name is Chad Muhle, I am president and owner of Muhle Custom Contracting.  I started my 
    custom contracting company in May of 2010 with the primary focus of remodeling and building 
    new homes.  I built my business on 10 years of experience within this profession.
  %h1 My Mission Statement
  %hr
  %p
    To provide my clients with the higlest level of quality, attention to detail, and most importantly,
    customer service.
  %h1 My Clients
  %hr
  %p
    Client services is one of the most important pieces in my business and I pride myself in creating 
    relationships with my clients as I take them from the design phase all the way thru completion.  
    I am confident my past clientele would agree, they would tell you that the level of customer 
    service and quality of work that they have received is second to none.