#about
  - @content_title = "Company Profile: Owner, Chad Muhle"
  %hr
  %img{:src => '/images/family.png', :alt => 'family'}
  %hr
  %p
    I was born and raised in Columbus, NE where my father has owned his own construction 
    company for over 30 years.  I received my Bachelors degree in construction management at the 
    University of Nebraska at Kearney.  After graduation I started with Benchmark Homes where I 
    successfully moved up from Superintendant, to Project Manager, and finally, to the Senior 
    Customer Service Manager.  After six years, I took yet another step forward and pursued a 
    position at Sullivan Homes.  I spent four years there where I had many experiences and expanded 
    my knowledge of the custom market as Superintendent, Project Manager, and Construction 
    Manager.  From the beginning, it has always been a goal of mine to follow in my father’s footsteps 
    and someday build my own general contracting company, and now is that time!  With the 
    amazing support of my wife of eight years and my two children, my dream has become a reality!